---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Picture } from "astro:assets";
import PostHog from "../components/PostHog.astro";

import headshotImage from "../images/toddhgardner.jpg";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title="Contact Me • Todd H. Gardner"
			description={SITE_DESCRIPTION}
			robots="noindex nofollow" />
	</head>
	<body>
		<main>

			<section class="video">
				<div style="position:relative;padding-top:56.25%;"><iframe title="Hello!" loading="eager" src="https://iframe.mediadelivery.net/embed/498473/41ac5b96-1b89-4730-8e7d-3323ecede061?autoplay=true&loop=false&preload=true&responsive=true" loading="lazy" style="border:0;position:absolute;top:0;height:100%;width:100%;" allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;" allowfullscreen="true"></iframe></div>
			</section>

			<section class="title">
				<Picture
					src={headshotImage}
					alt="Todd H. Gardner"
					loading="eager"
					formats={['webp']}  />
				<div class="text">
					<h1>Todd H. Gardner</h1>
					<h2>I start shit.</h2>
				</div>
			</section>

			<section class="contact">
				<nav>
					<menu>
						<li>
							<a href="https://calendar.app.google/1e5FdXNDjfSS1Zy99" title="Book a meeting">
								Book a meeting
							</a>
						</li>
						<li>
							<a href="https://share.hsforms.com/1BT5UlZrcSQyOuEfanQDpwwebqdl" title="Send a message">
								Send a message
							</a>
						</li>
						<li>
							<a href="/toddhgardner.vcf" download="" title="Add to contacts">
								Add to contacts
							</a>
						</li>
					</menu>
				</nav>
			</section>

			<section class="links">
				<h2>My projects</h2>
				<nav>
					<menu>
						<li>
							<a href="https://trackjs.com/" title="TrackJS">
								TrackJS
							</a>
						</li>
						<li>
							<a href="https://requestmetrics.com/" title="Request Metrics">
								Request Metrics
							</a>
						</li>
						<li>
							<a href="https://www.certkit.io/" title="CertKit">
								CertKit
							</a>
						</li>
						<li>
							<a href="https://pubconf.io/" title="PubConf">
								PubConf
							</a>
						</li>
					</menu>
				</nav>
			</section>

			<section class="follow">
				<h2>Follow me</h2>
				<nav>
					<menu>
						<li>
							<a href="/feed.xml" title="RSS">RSS</a>
						</li>
						<li>
							<a href="TODO" title="Newsletter">Newsletter</a>
						</li>
						<li>
							<a href="https://bsky.app/profile/toddhgardner.com" title="Bluesky">Bluesky</a>
						</li>
						<li>
							<a href="TODO" title="Reddit">Reddit</a>
						</li>
						<li>
							<a href="TODO" title="LinkedIn">LinkedIn</a>
						</li>
					</menu>
				</nav>
			</section>

			<footer>
				<div class="container flex-column align-center">
					I made this myself with plain HTML ❤️
				</div>
			</footer>

		</main>
	</body>
</html>
