---
const today = new Date();
---

<style>
  footer {
    color: var(--pico-secondary);
  }
</style>

<footer class="container">
  <small>
    &copy; 2014-{today.getFullYear()} Todd H. Gardner • All rights reserved •
    <a href={new URL("feed.xml", Astro.site)} target="_blank">RSS</a> •
    <a href="https://buttondown.com/toddhgardner" target="_blank">Newsletter</a>
  </small>
</footer>

