---
import { AUTHOR_NAME } from "~/consts";

---

<style>
  footer {
    color: var(--pico-secondary);
  }
</style>

<footer class="container">
  <small>
    &copy; 2014-{new Date().getFullYear()} {AUTHOR_NAME} •
    <a href="https://github.com/toddhgardner/toddhgardner.github.io" target="_blank">Source</a> •
    <a href={new URL("feed.xml", Astro.url.origin)} target="_blank">RSS</a> •
    <a href="https://buttondown.com/toddhgardner" target="_blank">Newsletter</a>
  </small>
</footer>

