---
import { SITE_TITLE } from "~/consts";
---

<header class="container">
  <nav>
    <ul>
      <li>
        <a href={new URL("/", Astro.url.origin)} class="contrast"><strong>{SITE_TITLE}</strong></a>
      </li>
    </ul>
    <ul>
      <li>
        <a href={new URL("blog", Astro.url.origin)}>Blog</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <a href={new URL("projects", Astro.url.origin)}>Projects</a>
      </li>
      <li>
        <a href={new URL("about", Astro.url.origin)}>About</a>
      </li>
    </ul>
  </nav>
</header>
